{% extends 'base.html' %}
{% block content %}
<!--script type="text/javascript"
   src="http://api.recaptcha.net/challenge?k=6LctCPMSAAAAAIhgWQNU4p2hl4ihFJp1BIE015-r">
</script-->
<script>
var RecaptchaOptions = { theme : 'clean' };
</script>
<div class="row top-buffer">
    <div class="col-xs-11 col-sm-10 col-md-8 col-centered">
        <form role="form" name="content-form" method="post" action='/share/'>
            {% csrf_token %}
            <div class="form-group">
                <select class="form-control" name="category_selected">
                  <option value="Choose Category" name="category" selected>Choose Category</option>
                  {% for option in options %}
                      <option name="{{option.name}}" value="{{option.name}}">{{option.name}}</option>
                  {% endfor %}
                </select>
            </div>
            {% if errors.category_error %}
                <div class="form-group">
                  <p class="field-validation-error">* Please choose a category</p>
                </div>
            {% endif%}
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Title">
            </div>
            {% if errors.title_error %}
                <div class="form-group">
                  <p class="field-validation-error">* Please enter a valid title</p>
                </div>
            {% endif%}
            <div class="form-group">
                <label for="textt">Content</label>
                <textarea rows="10" cols="50" class="form-control" id="textt" name="content" placeholder="Content"></textarea>
            </div>
            {% if errors.content_error %}
                <div class="form-group">
                  <p class="field-validation-error">* Please enter a valid content</p>
                </div>
            {% endif%}
            <div class="form-group">
                <label for="tags">Tags</label>
                <input type="text" class="form-control" id="tags" name="tags" placeholder="Tags">
            </div>
            {% if errors.tags_error %}
                <div class="form-group">
                  <p class="field-validation-error">* Please enter valid tags separated by comma</p>
                </div>
            {% endif%}
            <div class="form-group centered">
                <script type="text/javascript" src="http://api.recaptcha.net/challenge?k=6LctCPMSAAAAAIhgWQNU4p2hl4ihFJp1BIE015-r">
                </script>
            </div>
            {% if captcha_error %}
                <div class="form-group">
                  <p class="field-validation-error">* Please enter the characters as shown above</p>
                </div>
            {% endif%}

<!--noscript>
   <iframe src="http://api.recaptcha.net/noscript?k=6LctCPMSAAAAAIhgWQNU4p2hl4ihFJp1BIE015-r"
       height="300" width="500" frameborder="0"></iframe><br>
   <textarea name="recaptcha_challenge_field" rows="3" cols="40">
   </textarea>
   <input type="hidden" name="recaptcha_response_field" 
       value="manual_challenge">
</noscript-->


            <div class="centered top-padding-25">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
